$light_pink: #eddedf;
$light_pink_semi: rgba(237, 222, 223, 0.9);
$black-shadows: #ccbac3ff;
$lilac: #ac95a6ff;
$dark_pink: #8b718aff;
$purple: #6a4d6dff;
$violet: #4a2851ff;
$hard_purple: #510ab2;
$dark: #181818;
$orange: #f4d1b1;
$blue: #363554;
$hard_blue: #0a00cc;
$dark_purple: #290434;

@mixin vw_fraction($frac: 3, $width: 1) {
  width: calc(100vw / $cols * $width);
}

@mixin font_tiny {
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: 'compagnie wide';

  @media only screen and (max-width: 650px) {
    font-size: 0.75rem;
  }

  @media only screen and (max-width: 500px) {
    font-size: 0.5rem;
  }
}

@mixin font_small {
  font-size: 2vw;
  line-height: 1.8vw;
  font-family: 'compagnie wide';

  @media only screen and (max-width: 650px) {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

@mixin font_medium {
  font-size: 4.5vw;
  line-height: 5.2vw;
  letter-spacing: 2px;
  font-family: 'druk';
  text-transform: uppercase;

  @media screen and (max-width: 650px) {
    font-size: 5.5vw;
  }
}

@mixin font_big {
  font-family: 'druk';
  text-transform: uppercase;
  font-size: 7vw;
  line-height: 5.55vw;

  @media screen and (max-width: 650px) {
    font-size: 9vw;
    line-height: 7.4vw;
  }
}

@mixin font_huge {
  font-family: 'druk';
  font-size: 9.5vw;
  line-height: 7.5vw;
  text-transform: uppercase;
}

@mixin font_track_title {
  font-family: 'druk';
  font-size: 12rem;
  line-height: 12.4rem;
  letter-spacing: 4px;
  text-transform: uppercase;

  @media only screen and (max-width: 650px) {
    font-size: 6rem;
    line-height: 6.2rem;
    letter-spacing: 2px;
  }
}

@mixin block_padding {
  padding: 3rem;
  overflow: hidden;

  @media only screen and (max-width: 650px) {
    padding: 2rem;
  }

  @media only screen and (max-width: 500px) {
    padding: 1rem;
  }
}

@mixin element_margin($direction, $mul: 1) {
  margin-#{$direction}: 1.5rem * $mul;

  @media only screen and (max-width: 650px) {
    margin-#{$direction}: 0.5rem * $mul;
  }
}

@mixin element_padding($direction, $mul: 1) {
  padding-#{$direction}: 1.5rem * $mul;

  @media only screen and (max-width: 650px) {
    padding-#{$direction}: 0.5rem * $mul;
  }
}

@mixin horiz_padding {
  @include block_padding;
  padding-top: 0;
  padding-bottom: 0;
}
